* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: auto;
  margin: 0rem auto;
  min-height: 50rem;
  /* fin header - menu*/
  /* inicio contenido tarjetas */
  /* INICIO CARRITO JS */
  /* FIN CARRITO DE JS */
  /* inicio registro */
  /* fin registro */
  /* inicio formulario */
}

/* #root #header #menu {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-basis: 70%;
  width: 100%;
  height: 100%;
}

#root #header #menu .search {
  height: 40%;
  width: 50%;
  justify-self: start;
  background-color: #2b2b2b;
  border: 1px solid rgba(255, 255, 255, 0.666);
  border-radius: 1rem;
}

#root #header #menu .search::placeholder {
  font-size: 15px;
  color: #5c5c5c;
  padding-left: 1rem;
  font-style: italic;
}

#root #header #menu .search:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #header #menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

#root #header #menu ul a {
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  transition: all 300ms;
  font-weight: bold;
}

#root #header #menu ul a:hover {
  box-shadow: 0px 0px 10px white;
  border-radius: 5px;
  color: white;
} */

#root #usuariosAJAX {
  height: 20rem;
  width: 100%;
  background-color: grey;
}

#root #usuariosAJAX h3 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#root #usuariosAJAX h4 {
  color: white;
}

#root #header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  height: 8rem;
  background-color: #0f0f0f;
  border-bottom: 1px solid rgba(24, 24, 24, 0.842);
  /* inicio logo */
  /* fin logo */
  /* inicio nav */
  /* fin nav */
}

#root #header .logo {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
  padding-right: 14rem;
}

#root #header .logo #logotipo {
  width: 6.5rem;
  height: 7rem;
}

#root #header #menu {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-basis: 70%;
  width: 100%;
  height: 100%;
}

#root #header #menu .search {
  height: 40%;
  width: 50%;
  justify-self: start;
  background-color: #2b2b2b;
  border: 1px solid rgba(255, 255, 255, 0.666);
  border-radius: 1rem;
}

#root #header #menu .search::placeholder {
  font-size: 15px;
  color: #5c5c5c;
  padding-left: 1rem;
  font-style: italic;
}

#root #header #menu .search:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #header #menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

#root #header #menu ul a {
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  transition: all 300ms;
  font-weight: bold;
}

#root #header #menu ul a:hover {
  box-shadow: 0px 0px 10px white;
  border-radius: 5px;
  color: white;
}

#root #content {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #0f0f0f;
  /* inicio productos */
  /* fin productos */
  /* inicio aside */
  /* fin aside */
}

#root #content #productos {
  display: flex;
  flex-flow: row wrap;
  row-gap: 3rem;
  justify-content: space-evenly;
  flex-basis: 80%;
  height: auto;
}

#root #content #productos .tarjets {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: auto;
  box-shadow: 0px 0px 8px rgba(71, 71, 71, 0.911);
  background-color: #0f0f0f;
  border-radius: 5px;
}

#root #content #productos .tarjets:hover {
  box-shadow: 0px 0px 7px white;
  transition: all 500ms;
  background-color: black;
}

#root #content #productos .tarjets .tarjetImg {
  justify-self: start;
  align-self: center;
  box-shadow: 0px 0px 5px #d8d8d8;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

#root #content #productos .tarjets .tarjetTitle {
  color: white;
  text-align: start;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
  margin-left: 0.5rem;
}

#root #content #productos .tarjets .tarjetTxt p {
  text-align: start;
  justify-self: end;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
  font-family: "Staatliches", "cursive";
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

#root #content #productos .tarjets .tarjetTxt .tarjetAhorro {
  font-size: 14px;
  color: yellow;
}

#root #content #productos .tarjets button {
  display: block;
  font-family: "Staatliches", "cursive";
  font-size: 20px;
  text-align: center;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  background-color: white;
  width: 50%;
  height: 25%;
  margin-left: 3.8rem;
  margin-top: 00.5rem;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

#root #content #productos .tarjets button:hover {
  background: black;
  box-shadow: 0px 0px 8px white;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  transition: all 300ms;
}

#root #content #productos .tarjets .infoProduct {
  text-align: center;
  color: white;
  font-size: 15px;
  padding: 0.5rem;
}

#root #content #aside {
  flex-basis: 20%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #2222;
  box-shadow: 0px 0px 3px #131212;
}

#root #content #aside:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #content #aside h2 {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
  font-family: "Staatliches", "cursive";
  font-size: 25px;
  letter-spacing: 1px;
}

#root #content #aside ul li {
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  width: 12.5rem;
}

#root #content #aside a {
  font-family: sans-serif;
  text-align: center;
  display: block;
  padding: 1.2rem;
  background-color: #eee;
  color: #444;
  transition: all 300ms;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Staatliches", "cursive";
  font-size: 20px;
  letter-spacing: 1px;
}

#root #content #aside a:hover {
  background-color: #444;
  color: #eee;
}

#root #carrito {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background: black;
  padding: 2rem;
}

#root #carrito .tarjets {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

#root #carrito .tarjets .tarjetImg {
  height: 6rem;
  width: 4.5rem;
}

#root #carrito .tarjets .tarjetTitle {
  align-self: center;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #carrito .tarjets .tarjetTxt {
  align-self: center;
}

#root #carrito .tarjets .tarjetTxt .tarjetPrecio {
  color: white;
  font-size: 20px;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #carrito .tarjets .tarjetAhorro {
  display: none;
}

#root #carrito .addToCart {
  display: none;
}

#root #carrito .addToInfo {
  display: none;
}

#root #carrito .vermenos {
  display: none;
}

#root #carrito .infoProduct {
  display: none;
}

#root #goInfo {
  position: relative;
  display: block;
  margin: 2px 0;
  min-height: 20rem;
}

#root #goInfo .containerHide {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  height: 15rem;
  background-color: #141414;
  color: white;
  padding-bottom: 1rem;
}

#root #goInfo .containerHide .hideTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 15rem;
  border: 3px solid white;
  box-shadow: 0px 0px 8px white;
}

#root #goInfo .containerHide .hideTxt h3 {
  font-family: "Staatliches", "cursive";
  line-height: 5rem;
}

#root #goInfo .containerHide .hideTxt b {
  font-style: italic;
  font-size: 20px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
}

#root #goInfo .containerHide .hideTxt p {
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #goInfo .containerHide .hideTxt h4 {
  font-size: 15px;
  margin-top: 3rem;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #goInfo #containerTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  height: 30rem;
  width: 100%;
  background-color: black;
  color: white;
}

#root #goInfo #containerTxt .pretitle {
  font-family: "Staatliches", "cursive";
  font-size: 45px;
  letter-spacing: 2px;
}

#root #goInfo #containerTxt .titleTxt {
  font-family: "Staatliches", "cursive";
  font-size: 25px;
  letter-spacing: 1px;
}

#root #goInfo #containerTxt .pTxt {
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #goInfo #containerTxt #goEmail {
  width: 40%;
  height: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px white;
}

#root #goInfo #containerTxt #goEmail:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #goInfo #containerTxt #goEmail::placeholder {
  font-size: 18px;
  padding-left: 1rem;
  color: rgba(36, 36, 36, 0.774);
  font-style: italic;
}

#root #goInfo #containerTxt #goSubmit {
  width: 10rem;
  height: 3rem;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Staatliches", "cursive";
}

#root #goInfo #containerTxt #goSubmit:hover {
  box-shadow: 0px 0px 7px white;
  color: white;
  background-color: black;
  font-size: 20px;
  transition: all 500ms;
}

#root #registro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  background-color: black;
  /* fin formulario */
}

#root #registro .containerForm {
  display: block;
  width: auto;
  height: auto;
  background-color: #050505;
  box-shadow: 0px 0px 5px white;
  padding-bottom: 1.8rem;
  /* cartel */
  /* fin cartel */
}

#root #registro .containerForm .consultaHide {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 15rem;
  background-color: #141414;
  color: white;
  padding-bottom: 1rem;
}

#root #registro .containerForm .consultaHide .txtConsulta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 15rem;
  border: 3px solid white;
  box-shadow: 0px 0px 8px white;
}

#root #registro .containerForm .consultaHide .txtConsulta h3 {
  font-family: "Staatliches", "cursive";
  line-height: 5rem;
}

#root #registro .containerForm .consultaHide .txtConsulta b {
  font-size: 18px;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
  text-transform: uppercase;
}

#root #registro .containerForm .consultaHide .txtConsulta .estiloEmail {
  font-size: 18px;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  font-style: italic;
  text-transform: none;
}

#root #registro .containerForm .consultaHide .txtConsulta p {
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #registro .containerForm .consultaHide .txtConsulta h4 {
  font-size: 15px;
  margin-top: 3rem;
  font-family: "Staatliches", "cursive";
  letter-spacing: 1px;
}

#root #registro .containerForm:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #registro .containerForm #formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40rem;
  row-gap: 3.5rem;
}

#root #registro .containerForm #formulario .buttons {
  width: 15rem;
  height: 2rem;
  box-shadow: 0px 0px 2px white;
}

#root #registro .containerForm #formulario .buttons:hover {
  box-shadow: 0px 0px 5px white;
  transition: 500ms;
}

#root #registro .containerForm #formulario .buttons::placeholder {
  text-align: center;
  font-style: italic;
  font-family: "Staatliches", "cursive";
  font-size: 15px;
  letter-spacing: 1px;
}

#root #registro .containerForm #formulario .first .box {
  display: flex;
  flex-direction: column;
}

#root #registro .containerForm #formulario .first .box label {
  margin-bottom: 0.8rem;
  margin-top: 2rem;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-family: "Staatliches", "cursive";
  font-size: 20px;
  letter-spacing: 1px;
}

#root #registro .containerForm #formulario #consulta {
  text-align: start;
  width: 20rem;
  height: 10rem;
  box-shadow: 0px 0px 2px white;
  margin: 0 1rem;
}

#root #registro .containerForm #formulario #consulta:hover {
  box-shadow: 0px 0px 10px white;
  transition: all 500ms;
}

#root #registro .containerForm #formulario #consulta::placeholder {
  text-align: center;
  font-style: italic;
  font-family: "Staatliches", "cursive";
  font-size: 15px;
  letter-spacing: 1px;
}

#root #registro .containerForm #formulario .third {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

#root #registro .containerForm #formulario .third #send {
  width: 8rem;
  height: 2.5rem;
  box-shadow: 0px 0px 2px white;
  font-family: "Staatliches", "cursive";
  font-size: 20px;
  letter-spacing: 1px;
}

#root #registro .containerForm #formulario .third #send:hover {
  box-shadow: 0px 0px 5px white;
  background: black;
  color: white;
  font-size: 22px;
  transition: all 500ms;
}

#root #registro .containerForm #formulario .third #offForm {
  box-shadow: 0px 0px 2px white;
  width: 8rem;
  height: 2.5rem;
  font-family: "Staatliches", "cursive";
  font-size: 20px;
  letter-spacing: 1px;
}

#root #registro .containerForm #formulario .third #offForm:hover {
  box-shadow: 0px 0px 5px white;
  background: black;
  color: white;
  font-size: 22px;
  transition: all 500ms;
}

#root #registro .containerForm #formulario .boxnoti {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

#root #registro .containerForm #formulario .boxnoti .noti {
  width: 1.2rem;
  height: 1.2rem;
}

#root #registro .containerForm #formulario h6 {
  font-size: 18px;
  color: white;
}

#root footer {
  border-top: 1px solid rgba(187, 187, 187, 0.438);
}

#root footer .firstColumn {
  max-width: 1440px;
}

#root footer .firstColumn .firstRow h2 {
  font-family: "Staatliches", "cursive";
  font-weight: bold;
  letter-spacing: 1px;
}

#root footer .firstColumn .firstRow h2 a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}

#root footer .firstColumn .firstRow h2:hover > a {
  color: cyan;
  transition: 300ms;
}

#root footer .firstColumn .firstRow h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

#root footer .firstColumn .firstRow h3:hover {
  color: cyan;
  transition: 300ms;
}

#root footer .firstColumn .secondRow h2 {
  font-family: "Staatliches", "cursive";
  font-weight: bold;
  letter-spacing: 1px;
}

#root footer .firstColumn .secondRow h2 a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}

#root footer .firstColumn .secondRow h2:hover > a {
  color: cyan;
  transition: 300ms;
}

#root footer .firstColumn .secondRow h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.6rem;
}

#root footer .firstColumn .secondRow h3 a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#root footer .firstColumn .secondRow h3:hover > a {
  color: cyan;
  transition: 300ms;
}

#root footer .firstColumn .thirdRow h2 {
  font-family: "Staatliches", "cursive";
  font-weight: bold;
  letter-spacing: 1px;
}

#root footer .firstColumn .thirdRow h2 a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}

#root footer .firstColumn .thirdRow h2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#root footer .firstColumn .thirdRow h2:hover > a {
  color: cyan;
  transition: 300ms;
}

#root footer .firstColumn .fortyRow .btnTitle {
  text-align: center;
  margin-left: 7.5rem;
}

#root footer .firstColumn .fortyRow .btnTitle h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

#root footer .firstColumn .fortyRow .btnImages .icon {
  font-size: 2rem;
  color: white;
  width: 3rem;
}

#root footer .firstColumn .fortyRow .btnImages .icon:hover {
  font-size: 2.2rem;
  color: cyan;
  transition: 300ms;
}

#root footer .secondColumn .firstRow p {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

#root footer .secondColumn .secondRow div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: end;
}
