* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

#container {
  width: 95%;
  height: auto;
  margin: 1rem auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  min-height: 50rem;
  /* fin header - menu*/
  /* inicio contenido tarjetas */
  /* inicio registro */
  /* fin registro */
  /* inicio formulario */
  /* fin formulario */
}

#container #header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  height: 8rem;
  background-color: #0f0f0f;
  border-bottom: 1px solid rgba(24, 24, 24, 0.842);
  /* inicio logo */
  /* fin logo */
  /* inicio nav */
  /* fin nav */
}

#container #header .logo {
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
  padding-right: 14rem;
}

#container #header .logo #logotipo {
  width: 7rem;
  height: 7.5rem;
}

#container #header #menu {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-basis: 70%;
  width: 100%;
  height: 100%;
}

#container #header #menu .search {
  height: 40%;
  width: 50%;
  justify-self: start;
  background-color: #2b2b2b;
  border: none;
  border-radius: 1rem;
}

#container #header #menu .search::placeholder {
  font-size: 15px;
  color: #5c5c5c;
  padding-left: 1rem;
  font-style: italic;
}

#container #header #menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

#container #header #menu ul a {
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  transition: all 300ms;
  font-weight: bold;
}

#container #header #menu ul a:hover {
  background-color: rgba(255, 68, 0, 0.904);
  border-radius: 5px;
  color: white;
}

#container #content {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #0f0f0f;
  /* inicio productos */
  /* fin productos */
  /* inicio carrito de compras */
  /* fin carrito de compras */
  /* inicio aside */
  /* fin aside */
}

#container #content #productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 80%;
}

#container #content #productos .tarjets {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 16rem;
  height: auto;
  box-shadow: 0px 0px 8px rgba(71, 71, 71, 0.911);
  background-color: #0f0f0f;
  border-radius: 5px;
}

#container #content #productos .tarjets .tarjetImg {
  justify-self: start;
  align-self: center;
  box-shadow: 0px 0px 5px #d8d8d8;
  margin-top: 1rem;
  border-radius: 5px;
}

#container #content #productos .tarjets .tarjetTitle {
  color: white;
  text-align: start;
  margin-left: 1rem;
  justify-self: end;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

#container #content #productos .tarjets .tarjetTxt {
  margin: 0rem 0rem;
  margin-bottom: 1rem;
}

#container #content #productos .tarjets .tarjetTxt p {
  text-align: start;
  justify-self: end;
  font-weight: bold;
  color: white;
  font-size: 22px;
  margin-left: 1rem;
}

#container #content #productos .tarjets .tarjetTxt .tarjetAhorro {
  font-size: 14px;
  color: yellow;
}

#container #content #productos .tarjets button {
  text-align: center;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background-color: white;
  width: 50%;
  height: 25%;
  margin-left: 3.5rem;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#container #content #productos .tarjets button:hover {
  background: orangered;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  transition: all 300ms;
}

#container #content #aside {
  flex-basis: 15%;
  margin-right: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #2222;
  box-shadow: 0px 0px 3px #131212;
}

#container #content #aside h2 {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

#container #content #aside ul li {
  padding-bottom: 1.5rem;
}

#container #content #aside a {
  font-family: sans-serif;
  text-align: center;
  display: block;
  padding: 1.2rem;
  background-color: #eee;
  color: #444;
  transition: all 300ms;
  text-transform: uppercase;
}

#container #content #aside a:hover {
  background-color: #444;
  color: #eee;
}

#container #goInfo {
  margin: 2px 0;
  min-height: 20rem;
}

#container #goInfo .containerTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  height: 30rem;
  width: 100%;
  background-color: black;
  color: white;
}

#container #goInfo .containerTxt .goEmail {
  width: 40%;
  height: 10%;
  border-radius: 5px;
}

#container #goInfo .containerTxt .goEmail::placeholder {
  font-size: 18px;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.774);
}

#container #registro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40rem;
  background-color: #fffffe;
}

#container #registro .containerForm {
  width: 35%;
  height: 38rem;
  background-color: wheat;
}

#container #registro .containerForm #formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 36rem;
  row-gap: 5rem;
}

#container #registro .containerForm #formulario .first .box h6 {
  margin-bottom: 0.8rem;
  margin-top: 2.5rem;
}

#container #registro .containerForm #formulario .second .box {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

#container #registro .containerForm #formulario .third {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
