* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

#container {

    width: 95%;
    height: auto;
    margin: 1rem auto;
    border: 1px solid rgba(225,225,226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    min-height: 50rem;

    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        height: 8rem;
        border-bottom: 1px solid rgba(225,225,226, 0.8);

        /* inicio logo */

        .logo {
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
            color: black;
            text-shadow: 1px 1px 0px #ccc;
            text-transform: uppercase;
            padding-right: 10rem;

            #logotipo {
                width: 5rem;
                height: 5rem;
            }
        }

        /* fin logo */


        /* inicio nav */

        #menu {
            display: flex;
            flex-direction: row;
            column-gap: 5rem;
            justify-content: center;
            align-items: center;
            flex-basis: 70%;
            width: 100%;
            height: 100%;
            
            .search {
                height: 35%;
                width: 50%;
                justify-self: start;
            }
            
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center; // vertical
                justify-content: center;
                height: 100%;
                width: 40%;

                a {
                    text-transform: uppercase;
                    color: rgb(70, 70, 70);
                    padding: 1rem;
                    transition: all 300ms;
                    font-weight: bold;

                    &:hover{
                        background-color: #ccc;
                        color: white;
                    }
                }
            }
        }

        /* fin nav */
    }

    /* fin header - menu*/

    /* inicio contenido tarjetas */

    #content {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        /* inicio productos */

        #productos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-basis: 80%;

            .tarjets {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                width: 14rem;
                height: auto;
                background-image: linear-gradient(#888, black);

                img {
                    justify-self: start;
                    align-self: center;
                    box-shadow: 0px 0px 3px rgb(216, 216, 216);
                }

                .title {
                    color: white;
                    text-align: start;
                    margin-left: 1rem;
                    justify-self: end;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                }

                .txt {
                    margin: 1rem 0rem;
                    margin-bottom: 1rem;
                    
                    p{
                        text-align: start;
                        justify-self: end;
                        font-weight: bold;
                        color: white;
                        font-size: 30px;
                        margin-left: 1rem;
                        
                    }
                    
                    .ahorro {
                        font-size: 14px;
                        color: yellow;
                    }
                    
                }
                    button {
                    text-align: center;
                    line-height: 2.5rem;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    background-color: white;
                    width: 50%;
                    height: 25%;
                    margin-left: 3.5rem;
                    border-radius: 3px;
                    color: black;
                    font-size: 18px;
                    font-weight: bold;

                    &:hover {
                        background:yellow;
                        font-weight: 900;
                        color: white;
                        transition: all 300ms;
                    }

                }
  
            }
        }


         /* fin productos */

         /* inicio aside */

        #aside{
            flex-basis: 15%;
            margin-right: 2rem;
            padding:1rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: rgb(247, 247, 247);

            h2{
                display: block;
                width: 100%;
                font-size: 1.5rem;
                font-weight: 100;
                color: #444;
                padding-bottom: 10px;
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba(225,225,226, 0.8);
                text-align: center;
            }

            ul{
                li{
                    padding-bottom: 1.5rem;
                }
            }

            a{
                font-family: sans-serif;
                text-align: center;
                display: block;
                padding: 1.2rem;
                background-color: #eee;
                color: #444;
                transition: all 300ms;
                text-transform: uppercase;

                &:hover{
                    background-color: #444;
                    color: #eee;
                }
            }
        }

        /* fin aside */
    }


    /* inicio registro */

    #goInfo {
        min-height: 20rem;
        .containerTxt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 2rem;
            height: 30rem;
            width: 100%;
            background-color: black;
            color:white;

            .preTitle {
              
            }
        }
    }







    /* fin registro */

        /* inicio formulario */


    #registro {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40rem;
        background-color: rgb(255, 255, 254);
        margin-top: 10rem;

            .containerForm {
                width: 35%;
                height: 38rem;
                background-color: wheat;
                #formulario {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 36rem;
                    row-gap:5rem;


                    .first {
                        .box {
                            h6 {
                                margin-bottom: 0.8rem;
                                margin-top: 2.5rem;
                            }
                            
                        }
                    }

                    .second{
                        .box{
                            display: flex;
                            flex-direction: row;
                            column-gap: 0.5rem;
                        }
                    }

                    .third {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.5rem;
                    }
                }
            }
            
        }
        /* fin formulario */
}
