$font-miccio: "Staatliches", "cursive";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

#container {

    width: 100%;
    height: auto;
    margin: 0rem auto;
    min-height: 50rem;

    #usuariosAJAX{
        height: 20rem;
        width: 100%;
        background-color: grey;

        h3{
            color: white;
            text-align: center;
            font-size: 30px;
        }

        h4{
            color: white;
        }
    }
    

    #header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        height: 8rem;
        background-color: #0f0f0f;
        border-bottom: 1px solid rgba(24, 24, 24, 0.842);

        /* inicio logo */

        .logo {
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
            color: black;
            text-shadow: 1px 1px 0px #ccc;
            text-transform: uppercase;
            padding-right: 14rem;

            #logotipo {
                width: 6.5rem;
                height: 7rem;
            }
        }

        /* fin logo */


        /* inicio nav */

        #menu {
            display: flex;
            flex-direction: row;
            column-gap: 5rem;
            justify-content: center;
            align-items: center;
            flex-basis: 70%;
            width: 100%;
            height: 100%;

            .search {
                height: 40%;
                width: 50%;
                justify-self: start;
                background-color: rgb(43, 43, 43);
                border: 1px solid rgba(255, 255, 255, 0.666);
                border-radius: 1rem;

                &::placeholder {
                    font-size: 15px;
                    color: rgb(92, 92, 92);
                    padding-left: 1rem;
                    font-style: italic;
                }

                &:hover {
                    box-shadow: 0px 0px 10px white;
                    transition: all 500ms;
                }
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center; // vertical
                justify-content: center;
                height: 100%;
                width: 40%;

                a {
                    text-transform: uppercase;
                    color: white;
                    padding: 1rem;
                    transition: all 300ms;
                    font-weight: bold;

                    &:hover {
                        box-shadow: 0px 0px 10px white;
                        border-radius: 5px;
                        color: white;
                    }
                }
            }
        }

        /* fin nav */
    }

    /* fin header - menu*/

    /* inicio contenido tarjetas */

    #content {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: rgb(15, 15, 15);

        /* inicio productos */

        #productos {
            display: flex;
            flex-flow: row wrap;
            row-gap: 3rem;
            justify-content: space-evenly;
            flex-basis: 80%;
            height: auto;

            .tarjets {
                display: flex;
                flex-direction: column;
                width: 15rem;
                height: auto;
                box-shadow: 0px 0px 8px rgba(71, 71, 71, 0.911);
                background-color: rgb(15, 15, 15);
                border-radius: 5px;

                &:hover {
                    box-shadow: 0px 0px 7px white;
                    transition: all 500ms;
                    background-color: rgb(0, 0, 0);
                }

                .tarjetImg {
                    justify-self: start;
                    align-self: center;
                    box-shadow: 0px 0px 5px rgb(216, 216, 216);
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 5px;
                }

                .tarjetTitle {
                    color: white;
                    text-align: start;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 400;
                    font-family: $font-miccio;
                    letter-spacing: 1px;
                    margin-left: 0.5rem;
                }

                .tarjetTxt {

                    p {
                        text-align: start;
                        justify-self: end;
                        font-weight: bold;
                        color: white;
                        margin-left: 0.5rem;
                        font-family: $font-miccio;
                        font-size: 22px;
                        letter-spacing: 2px;
                        margin-bottom: 0.5rem;

                    }

                    .tarjetAhorro {
                        font-size: 14px;
                        color: yellow;
                    }

                }


                button {
                    display: block;
                    font-family: $font-miccio;
                    font-size: 20px;
                    text-align: center;
                    line-height: 2.5rem;
                    text-transform: uppercase;
                    margin-bottom: 0.5rem;
                    background-color: white;
                    width: 50%;
                    height: 25%;
                    margin-left: 3.8rem;
                    margin-top: 00.5rem;
                    border-radius: 5px;
                    color: black;
                    font-weight: bold;

                    &:hover {
                        background: black;
                        box-shadow: 0px 0px 8px white;
                        border-radius: 5px;
                        color: white;
                        font-size: 22px;
                        transition: all 300ms;
                    }
                }

                .infoProduct {
                    text-align: center;
                    color: white;
                    font-size: 15px;
                    padding: 0.5rem;
                }

            }
        }


        /* fin productos */

        /* inicio aside */

        #aside {
            flex-basis: 20%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #2222;
            box-shadow: 0px 0px 3px rgb(19, 18, 18);

            &:hover {
                box-shadow: 0px 0px 10px white;
                transition: all 500ms;
            }

            h2 {
                display: block;
                width: 100%;
                font-size: 1.5rem;
                font-weight: 100;
                color: #444;
                padding-bottom: 10px;
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba(225, 225, 226, 0.8);
                text-align: center;
                font-family: $font-miccio;
                font-size: 25px;
                letter-spacing: 1px;
            }

            ul {
                li {
                    margin-top: 3rem;
                    padding-bottom: 1.5rem;
                    width: 12.5rem;
                }
            }

            a {
                font-family: sans-serif;
                text-align: center;
                display: block;
                padding: 1.2rem;
                background-color: #eee;
                color: #444;
                transition: all 300ms;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $font-miccio;
                font-size: 20px;
                letter-spacing: 1px;

                &:hover {
                    background-color: #444;
                    color: #eee;
                }
            }
        }

        /* fin aside */
    }

    /* INICIO CARRITO JS */

    #carrito {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        background: black;
        padding: 2rem;

        .tarjets {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-around;

            .tarjetImg {
                height: 6rem;
                width: 4.5rem;
            }

            .tarjetTitle {
                align-self: center;
                color: white;
                text-transform: uppercase;
                font-size: 20px;
                font-family: $font-miccio;
                letter-spacing: 1px;
            }

            .tarjetTxt {
                align-self: center;

                .tarjetPrecio {
                    color: white;
                    font-size: 20px;
                    font-family: $font-miccio;
                    letter-spacing: 1px;
                }
            }

            .tarjetAhorro {
                display: none;
            }
        }

        .addToCart {
            display: none;
        }

        .addToInfo {
            display: none;
        }

        .vermenos {
            display: none;
        }

        .infoProduct {
            display: none;
        }

    }

    /* FIN CARRITO DE JS */

    /* inicio registro */

    #goInfo {
        position: relative;
        display: block;
        margin: 2px 0;
        min-height: 20rem;

        .containerHide{
            position: absolute;
            top: 40%;
            left: 25%;
            width: 50%;
            height: 15rem;
            background-color: rgb(20, 20, 20);
            color: white;
            padding-bottom: 1rem;

            .hideTxt {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                width: 100%;
                height: 15rem;
            
                border: 3px solid white;
                box-shadow: 0px 0px 8px white;

                h3{
                    font-family: $font-miccio;
                    line-height: 5rem;
                }

                b{
                   font-style: italic;
                   font-size: 20px;
                   color: yellow;
                   font-family: Arial, Helvetica, sans-serif;
                   letter-spacing: 0px;
                }

                p{
                    font-family: $font-miccio;
                    letter-spacing: 1px;
                }

                h4{
                    font-size: 15px;
                    margin-top: 3rem;
                    font-family: $font-miccio;
                    letter-spacing: 1px;
                }
            }
        }

        #containerTxt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 2rem;
            height: 30rem;
            width: 100%;
            background-color: black;
            color: white;

            .pretitle{
                font-family: $font-miccio;
                font-size: 45px;
                letter-spacing: 2px;
            }

            .titleTxt {
                font-family: $font-miccio;
                font-size: 25px;
                letter-spacing: 1px;
            }

            .pTxt{
                font-family: $font-miccio;
                letter-spacing: 1px;
            }

            #goEmail {
                width: 40%;
                height: 10%;
                border-radius: 5px;
                box-shadow: 0px 0px 2px white;

                &:hover {
                    box-shadow: 0px 0px 10px white;
                    transition: all 500ms;
                }

                &::placeholder {
                    font-size: 18px;
                    padding-left: 1rem;
                    color: rgba(36, 36, 36, 0.774);
                    font-style: italic;
                }
            }

            #goSubmit {
                width: 10rem;
                height: 3rem;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: $font-miccio;

                &:hover {
                    box-shadow: 0px 0px 7px white;
                    color: white;
                    background-color: black;
                    font-size: 20px;
                    transition: all 500ms;
                }
            }
        }
    }







    /* fin registro */

    /* inicio formulario */


    #registro {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45rem;
        background-color: black;

        .containerForm {
            display: block;
            width: auto;
            height: auto;
            background-color: rgb(5, 5, 5);
            box-shadow: 0px 0px 5px white;
            padding-bottom: 1.8rem;

            /* cartel */

            .consultaHide{
                position: absolute;
                top: 30%;
                left: 25%;
                width: 50%;
                height: 15rem;
                background-color: rgb(20, 20, 20);
                color: white;
                padding-bottom: 1rem;
    
                .txtConsulta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    width: 100%;
                    height: 15rem;
                
                    border: 3px solid white;
                    box-shadow: 0px 0px 8px white;
    
                    h3{
                        font-family: $font-miccio;
                        line-height: 5rem;
                    }
    
                    b{
                       font-size: 18px;
                       font-family: $font-miccio;
                       letter-spacing: 1px;
                       text-transform: uppercase;
                    }

                    .estiloEmail{
                        font-size: 18px;
                        color: yellow;
                        font-family: Arial, Helvetica, sans-serif;
                        letter-spacing: 0px;
                        font-style: italic;
                        text-transform: none;

                    }
    
                    p{
                        font-family: $font-miccio;
                        letter-spacing: 1px;
                    }
    
                    h4{
                        font-size: 15px;
                        margin-top: 3rem;
                        font-family: $font-miccio;
                        letter-spacing: 1px;
                    }
                }
            }

            /* fin cartel */

            &:hover {
                box-shadow: 0px 0px 10px white;
                transition: all 500ms;
            }

            #formulario {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 40rem;
                row-gap: 3.5rem;

                .buttons {
                    width: 15rem;
                    height: 2rem;
                    box-shadow: 0px 0px 2px white;

                    &:hover {
                        box-shadow: 0px 0px 5px white;
                        transition: 500ms;
                    }

                    &::placeholder {
                        text-align: center;
                        font-style: italic;
                        font-family: $font-miccio;
                        font-size: 15px;
                        letter-spacing: 1px;
                    }
                }

                .first {
                    .box {
                        display: flex;
                        flex-direction: column;
                        label {
                            margin-bottom: 0.8rem;
                            margin-top: 2rem;
                            font-size: 18px;
                            text-transform: uppercase;
                            color: white;
                            font-family: $font-miccio;
                            font-size: 20px;
                            letter-spacing: 1px;
                        }

                    }
                }

                #consulta {
                    text-align: start;
                    width: 20rem;
                    height: 10rem;
                    box-shadow: 0px 0px 2px white;
                    margin: 0 1rem;

                    &:hover {
                        box-shadow: 0px 0px 10px white;
                        transition: all 500ms;
                    }

                    &::placeholder {
                        text-align: center;
                        font-style: italic;
                        font-family: $font-miccio;
                        font-size: 15px;
                        letter-spacing: 1px;
                    }
                }

                .third {
                    display: flex;
                    flex-direction: row;
                    column-gap: 1.5rem;

                    #send {
                        width: 8rem;
                        height: 2.5rem;
                        box-shadow: 0px 0px 2px white;
                        font-family: $font-miccio;
                        font-size: 20px;
                        letter-spacing: 1px;

                        &:hover {
                            box-shadow: 0px 0px 5px white;
                            background: black;
                            color: white;
                            font-size: 22px;
                            transition: all 500ms;
                        }
                    }

                    #offForm {
                        box-shadow: 0px 0px 2px white;
                        width: 8rem;
                        height: 2.5rem;
                        font-family: $font-miccio;
                        font-size: 20px;
                        letter-spacing: 1px;

                        &:hover {
                            box-shadow: 0px 0px 5px white;
                            background: black;
                            color: white;
                            font-size: 22px;
                            transition: all 500ms;
                        }
                    }
                }

                .boxnoti {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 10px;

                    .noti {
                        width: 1.2rem;
                        height: 1.2rem;
                    }

                }

                h6 {
                    font-size: 18px;
                    color: white;
                }

            }
        }

        /* fin formulario */

    }


    footer {
        border-top: 1px solid rgba(187, 187, 187, 0.438);
        .firstColumn {
           max-width: 1440px;
            .firstRow {
                h2 {
                    font-family: "Staatliches", "cursive";
                    font-weight: bold;
                    letter-spacing: 1px;
                    
                    a {
                        text-decoration: none;
                        font-size: 0.8rem;
                        color: white;
                    }
    
                    &:hover > a {
                        color: cyan;
                        transition: 300ms;
                    }
                }
    
                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    font-size: 0.6rem;
                    text-decoration: none;
                    letter-spacing: 1px;
                    color: white;
                    cursor: pointer;
    
                    &:hover{
                        color: cyan;
                        transition: 300ms;
                    }
                }
            }
    
            .secondRow {
                h2 {
                    font-family: $font-miccio;
                    font-weight: bold;
                    letter-spacing: 1px;
    
                    a {
                        text-decoration: none;
                        font-size: 0.8rem;
                        color: white;
                    }
    
                    &:hover > a {
                        color: cyan;
                        transition: 300ms;
                    }
                }
    
                h3 {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-size: 0.6rem;
                    
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: white;
                    }
    
                    &:hover > a{
                        color: cyan;
                        transition: 300ms;
                    }
    
                }
            }
    
            .thirdRow {
                h2 {
                    font-family: $font-miccio;
                    font-weight: bold;
                    letter-spacing: 1px;
    
                    a {
                        text-decoration: none;
                        font-size: 0.8rem;
                        color: white;
                    }
    
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: white;
                    }
    
                    &:hover > a{
                        color: cyan;
                        transition: 300ms;
                    }
    
                }
            }
    
            .fortyRow {
                    .btnTitle {
                        text-align: center;
                        margin-left: 7.5rem;
                       h2 {
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                        font-weight: bold;
                        font-size: 0.8rem;
                       }
                    }
    
                    .btnImages {
                        .icon {
                            font-size: 2rem;
                            color: white;
                            width: 3rem;
    
                            &:hover {
                                font-size: 2.2rem;
                                color: cyan;
                                transition: 300ms;
                            }
                        }
    
                    }
            }
        }
    
        .secondColumn {
            .firstRow {
                p {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: white;
                }
            }
    
            .secondRow {
                div {
                p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 0.6rem;
                    font-weight: bold;
                    text-align: end;
                }
                }
            }
        }
    }
}